@model CurriculumFormModel
@{
    ViewData["Title"] = "Curriculum Form";
    var isDeleteDisabled = Model.Action == FormActionEnum.Delete;
}

<h1>@Model.Action curriculum</h1>

@if (isDeleteDisabled)
{
    <h3 class="text-danger">Are you sure you want to delete this curriculum?</h3>
}

<section class="col-md-6">
    <form asp-action="@Model.Action"
          asp-route-id="@Model.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Id" class="form-control" hidden />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly="@isDeleteDisabled" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="10" readonly="@isDeleteDisabled"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <partial name="_FormSubmitPartial" for="Action" />
    </form>
</section>

<div>
    <a asp-action="@nameof(CurriculumsController.Index)">Back to Curriculums</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
