@model CurriculumListingViewModel
@{
    ViewData["Title"] = "Curriculums";
}

<h1>
    Curriculums
    <a asp-action="@nameof(CurriculumsController.Create)" class="btn btn-outline-success">
        <i class="fa fa-plus"></i>
    </a>
</h1>

<section class="card-deck d-flex justify-content-start">
    @foreach (var curriculum in Model.Curriculums)
    {
        var addCourseModel = new CurriculumCourseAddFormModel { CurriculumId = curriculum.Id, Courses = Model.CoursesSelectList };
        <article class="card-group col-sm-12 col-md-6 my-2">
            <div class="card course-card border-info">
                <div class="card-header bg-info d-flex flex-wrap justify-content-around">
                    @curriculum.Name
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">@curriculum.Description</h5>
                </div>
                @foreach (var course in curriculum.Courses)
                {
                    var courseInfoModel = new CourseBasicViewModel { Id = course.Id, Name = course.Name };
                    var removeCourseModel = new CurriculumCourseRemoveFormModel { CourseId = course.Id, CurriculumId = curriculum.Id, CurriculumName = curriculum.Name, CourseName = course.Name };

                    <div class="card-footer d-flex justify-content-center align-items-center">
                        @course.Name - @course.StartDate.ToDateString()
                        <partial name="_CourseInfoButtonPartial" model="courseInfoModel" />
                        <partial name="_CourseRemoveFormPartial" model="removeCourseModel" />
                    </div>
                }
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <partial name="_CourseAddFormPartial" model="addCourseModel" />
                    <partial name="_AdminCurriculumActionsPartial" model="curriculum.Id" />
                    <a asp-action="@nameof(CurriculumsController.Graduates)"
                       asp-route-id="@curriculum.Id" data-toggle="tooltip" title="Graduates" class="btn btn-outline-info">
                        <i class="fa fa-graduation-cap"></i>
                    </a>
                </div>
            </div>
        </article>
    }
</section>