@model CertificateDeleteFormModel

@if (Model != null)
{
    var modalId = $"modal-remove-certificate-{Model.CertificateId}";

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-@FormActionEnum.Delete.ToStyle()" data-toggle="modal" data-target="#@modalId">
        <i class="fa fa-trash"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete certificate for
                        user <strong>@(Model.StudentUsername ?? string.Empty)</strong>
                        with grade @Model.Grade.ToNumberDecimal()?
                    </p>
                </div>
                <div>
                    <form asp-action="@nameof(TrainersController.DeleteCertificate)"
                          asp-route-id="@Model.CourseId" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="CourseId" hidden />
                        <input asp-for="CertificateId" hidden />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-@FormActionEnum.Delete.ToStyle()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}