@model CourseServiceModel

@if (Model != null)
{
    var btnEvaluateStyle = Model.CanBeEvaluated ? "btn-info" : "btn-outline-info";

    <article class="card-group col-sm-6 col-lg-4 my-2">
        <div class="card course-card border-info">
            <div class="card-header bg-info small d-flex flex-wrap justify-content-between">
                <div><i class="fa fa-clock"></i> @Model.StartDate.ToDate()</div>
                <div><i class="fa fa-hourglass"></i> @Model.Duration.ToDays()</div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="https://res.cloudinary.com/astambi/image/upload/c_scale,q_auto:best,w_411/v1567517752/UniversitySystem/Course.jpg" alt="Course" class="w-100" />
                </div>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title text-center">@Model.Name</h5>
            </div>

            @if (Model.TrainerName != null)
            {
                <div class="card-footer">Trainer: @Model.TrainerName</div>
            }

            @if (Model.IsActive)
            {
                <div class="card-footer text-uppercase shadow">
                    <div class="bg-success text-white shadow py-2">Active</div>
                </div>
            }
            else if (Model.IsUpcoming)
            {
                <div class="card-footer text-uppercase shadow">
                    <div class="bg-info text-white shadow py-2">Upcoming</div>
                </div>
            }

            <div class="card-footer d-flex flex-wrap justify-content-around align-items-center">
                @{
                    var courseModel = new CourseBasicViewModel { Id = Model.Id, Name = Model.Name };
                }
                <partial name="_CourseInfoButtonPartial" model="@courseModel" />

                @if (Model.CanEnroll)
                {
                    if (Model.Price == 0)
                    {
                        <partial name="_CourseEnrollFormPartial" for="Id" />
                    }
                    else
                    {
                        <partial name="_CourseAddToCartButtonPartial" for="Id" />
                    }
                }

                @if (User.IsInRole(WebConstants.TrainerRole)
                && User.Identity.Name == Model.TrainerUserName)
                {
                    <a asp-controller="@WebConstants.TrainersController"
                       asp-action="@nameof(TrainersController.Students)"
                       asp-route-id="@Model.Id" class="btn @btnEvaluateStyle" data-toggle="tooltip" title="Students">
                        <i class="fa fa-user-graduate"></i>
                    </a>
                    <a asp-controller="@WebConstants.TrainersController"
                       asp-action="@nameof(TrainersController.Resources)"
                       asp-route-id="@Model.Id" class="btn btn-outline-info" data-toggle="tooltip" title="Resources">
                        <i class="fa fa-folder-open"></i>
                    </a>
                }

                <partial name="_AdminCourseActionsPartial" for="Id" />
            </div>
        </div>
    </article>
}
