@model SearchViewModel

<form asp-controller="@Model.Controller"
      asp-action="@Model.Action"
      method="get" class="form-inline">
    <div class="form-group d-flex m-0">
        <input type="text" name="@nameof(Model.SearchTerm)" value="@Model.SearchTerm"
               placeholder="@Model.Placeholder" class="form-control mr-1" />

        <div class="form-group m-0">
            <input type="submit" value="Search" class="btn btn-block btn-outline-info" />
        </div>
    </div>
</form>
