@model CourseDetailsViewModel
@{
    ViewData["Title"] = "Course Details";
    var enrollmentMsg = Model.CanEnroll
        ? string.Format(WebConstants.CourseEnrollmentOpenMsg, Model.RemainingTimeTillStart.ToDaysOrHours())
        : WebConstants.CourseEnrollmentClosedMsg;
}

<section class="col-lg-8 m-auto">
    <article class="card mb-3 shadow">
        <h3 class="bg-gradient card-header text-center p-5">@Model.Name</h3>
        <div class="card-body">
            <div class="card-title d-flex flex-wrap justify-content-between align-items-center px-1">
                <h5><i class="fa fa-hourglass-start"></i> @Model.StartDate.ToDate()</h5>
                <h5><i class="fa fa-hourglass-end"></i> @Model.EndDate.ToDate()</h5>
                <h5><i class="fa fa-clock"></i> @Model.Duration.ToDays()</h5>
            </div>
        </div>

        @if (Model.CanEnroll)
        {
            <div class="card-body card-subtitle d-flex flex-wrap justify-content-between align-items-center bg-success text-white">
                <h5 class="col-8">@enrollmentMsg</h5>
                @if (Model.IsUserEnrolled)
                {<partial name="_CourseCancelFormPartial" for="Id" /> }
                else
                { <partial name="_CourseEnrollFormPartial" for="Id" />}
            </div>
        }

        <ul class="list-group list-group-flush">
            @if (Model.IsUserEnrolled)
            {
                <partial name="_CourseHeaderPartial" model="@(" Exam submissions")" />
                <li class="list-group-item">
                    @if (Model.IsExamSubmissionDate)
                    {<partial name="_ExamUploadFormPartial" for="Id" />}
                    <a asp-controller="@WebConstants.ExamsController"
                       asp-action="@nameof(ExamsController.All)"
                       asp-route-id="@Model.Id" class="btn btn-outline-info">Exam submissions</a>
                </li>

                <partial name="_CourseHeaderPartial" model="@(" Resources")" />
                @if (Model.Resources.Any())
                {
                    @foreach (var resource in Model.Resources)
                    {
                        var resourceDloadModel = new ResourceFormModel { Id = resource.Id, CourseId = Model.Id };
                        <li class="list-group-item">
                            <partial name="_ResourceDownloadFormPartial" model="@resourceDloadModel" />
                            @resource.FileName
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No resources</li>
                }
            }

            <partial name="_CourseHeaderPartial" model="@(" Description")" />
            <li class="list-group-item">@Model.Description</li>

            <partial name="_CourseHeaderPartial" model="@(" Schedule")" />
            <li class="list-group-item">Start date: @Model.StartDate.ToDate()</li>
            <li class="list-group-item">End date: @Model.EndDate.ToDate()</li>
            <li class="list-group-item">Course duration: @Model.Duration.ToDays()</li>

            <partial name="_CourseHeaderPartial" model="@(" Trainer")" />
            <li class="list-group-item">@Model.TrainerName</li>

            <partial name="_CourseHeaderPartial" model="@(" Students enrolled")" />
            <li class="list-group-item">@Model.StudentsCount</li>

            <partial name="_CourseHeaderPartial" model="@(" Enrollment")" />
            <li class="list-group-item">@enrollmentMsg</li>
        </ul>
    </article>

    <partial name="_AdminCourseActionsPartial" for="Id" />
</section>

<div>
    <a asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)">Back to Courses</a>
</div>

@section Scripts {
    @* Custom File Upload form script for _ExamUploadFormPartial => site.js *@
    <script>customFileUpload("#customFile")</script>
}