@model CourseDetailsServiceModel
@{
    ViewData["Title"] = "Course Details";
    var enrollmentMsg = Model.Course.CanEnroll
        ? string.Format(WebConstants.CourseEnrollmentOpenMsg, Model.Course.RemainingTimeTillStart.ToDaysOrHours())
        : WebConstants.CourseEnrollmentClosedMsg;
}

<section class="col-lg-8 m-auto">
    <article class="card mb-3 shadow">
        <h3 class="bg-gradient card-header text-center p-5">@Model.Course.Name</h3>
        <div class="card-body">
            <div class="card-title d-flex flex-wrap justify-content-between align-items-center px-1">
                <h5><i class="fa fa-hourglass-start"></i> @Model.Course.StartDate.ToDate()</h5>
                <h5><i class="fa fa-hourglass-end"></i> @Model.Course.EndDate.ToDate()</h5>
                <h5><i class="fa fa-clock"></i> @Model.Course.Duration.ToDays()</h5>
            </div>
        </div>

        @if (Model.Course.CanEnroll)
        {
            <div class="card-body card-subtitle d-flex flex-wrap justify-content-between align-items-center bg-success text-white">
                <h5 class="col-8">@enrollmentMsg</h5>
                @if (Model.IsUserEnrolled)
                {<partial name="_CourseCancelFormPartial" for="Course.Id" /> }
                else
                { <partial name="_CourseEnrollFormPartial" for="Course.Id" />}
            </div>
        }

        <ul class="list-group list-group-flush">
            @if (Model.IsUserEnrolled)
            {
                <partial name="_CourseHeaderPartial" model="@(" Exam submissions")" />
                <li class="list-group-item">
                    @if (Model.IsExamSubmissionDate)
                    {<partial name="_ExamUploadFormPartial" for="Course.Id" />}
                    <a asp-controller="@WebConstants.CoursesController"
                       asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.ExamSubmissions)"
                       asp-route-id="@Model.Course.Id" class="btn btn-outline-info">Exam submissions</a>
                </li>

                <partial name="_CourseHeaderPartial" model="@(" Resources")" />
                <li class="list-group-item">
                    <a asp-controller="@WebConstants.CoursesController"
                       asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Resources)"
                       asp-route-id="@Model.Course.Id" class="btn btn-outline-info">Resources</a>
                </li>
            }

            <partial name="_CourseHeaderPartial" model="@(" Description")" />
            <li class="list-group-item">@Model.Course.Description</li>

            <partial name="_CourseHeaderPartial" model="@(" Schedule")" />
            <li class="list-group-item">Start date: @Model.Course.StartDate.ToDate()</li>
            <li class="list-group-item">End date: @Model.Course.EndDate.ToDate()</li>
            <li class="list-group-item">Course duration: @Model.Course.Duration.ToDays()</li>

            <partial name="_CourseHeaderPartial" model="@(" Trainer")" />
            <li class="list-group-item">@Model.Trainer.Name</li>

            <partial name="_CourseHeaderPartial" model="@(" Students enrolled")" />
            <li class="list-group-item">@Model.Students</li>

            <partial name="_CourseHeaderPartial" model="@(" Enrollment")" />
            <li class="list-group-item">@enrollmentMsg</li>
        </ul>
    </article>

    <partial name="_AdminCourseActionsPartial" for="Course.Id" />
</section>

<div>
    <a asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)">Back to Courses</a>
</div>

@section Scripts {
    @* Custom File Upload form script for _ExamUploadFormPartial => site.js *@
    <script>customFileUpload("#customFile")</script>
}