@model int

@if (User.IsInRole(WebConstants.AdministratorRole))
{
    <section class="d-flex justify-content-around align-items-center">
        <a class="btn btn-outline-warning"
           asp-area="@WebConstants.AdminArea"
           asp-controller="@WebConstants.CoursesController"
           asp-action="@nameof(LearningSystem.Web.Areas.Admin.Controllers.CoursesController.Edit)"
           asp-route-id="@Model">Edit</a>

        <a class="btn btn-outline-danger"
           asp-area="@WebConstants.AdminArea"
           asp-controller="@WebConstants.CoursesController"
           asp-action="@nameof(LearningSystem.Web.Areas.Admin.Controllers.CoursesController.Edit)"
           asp-route-id="@Model">Delete</a>
    </section>
}