@model int

@if (User.IsInRole(WebConstants.AdministratorRole))
{
    <a class="btn btn-outline-warning"
       asp-area="@WebConstants.AdminArea"
       asp-controller="@WebConstants.CoursesController"
       asp-action="@nameof(LearningSystem.Web.Areas.Admin.Controllers.CoursesController.Edit)"
       asp-route-id="@Model">Edit</a>

    <a class="btn btn-outline-danger"
       asp-area="@WebConstants.AdminArea"
       asp-controller="@WebConstants.CoursesController"
       asp-action="@nameof(LearningSystem.Web.Areas.Admin.Controllers.CoursesController.Delete)"
       asp-route-id="@Model">Delete</a>
}