<section class="jumbotron text-center bg-transparent shadow">
    <h1 class="display-4">Welcome to the Online University</h1>
    <p>
        <img src="https://images.yourstory.com/cs/2/5739db30-22e7-11e9-9aaa-0334d2a19842/ed-tech1553237040995.png" alt="Learning" class="w-100" />
    </p>
    <p class="lead">
        We invite to explore our courses
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-outline-info btn-lg"
           asp-controller="@WebConstants.CoursesController"
           asp-action="@nameof(ArticlesController.Index)" role="button">Courses</a>
        <a class="btn btn-outline-info btn-lg"
           asp-area="@WebConstants.BlogArea"
           asp-controller="@WebConstants.ArticlesController"
           asp-action="@nameof(ArticlesController.Index)" role="button">Blog</a>
    </p>
</section>