@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="font-weight-bold">@Model.Title</h1>

<h6 class="text-muted">
    @Model.PublishDate.ToLocalTime() |
    <a asp-area=""
       asp-controller="@WebConstants.TrainersController"
       asp-action="@nameof(TrainersController.Details)"
       asp-route-id="@Model.AuthorUsername">@Model.AuthorName</a> |
    <span>
        <i class="fa fa-envelope"></i> <a href="mailto:@Model.AuthorEmail">@Model.AuthorEmail</a>
    </span>
</h6>

<article class="text-justify">@Html.Raw(Model.Content)</article>

<div>
    <a asp-action="@nameof(ArticlesController.Index)">Back to Articles</a>
</div>