@model ArticleDetailsWithAuthorServiceModel

@{
    ViewData["Title"] = "Article Details";
}

<h1>@Model.Article.Title</h1>

<h6 class="text-muted">
    @Model.Article.PublishDate.ToLocalTime() |
    <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Author.Id">@Model.Author.Name</a>
    <i class="fa fa-envelope"></i> <a href="mailto:@Model.Author.Email">@Model.Author.Email</a> |
    <i class="fa fa-users"></i> 0
</h6>
<p class="shadow">@Html.Raw(Model.Article.Content)</p>

<div>
    <a asp-action="@nameof(ArticlesController.Index)">Back to Articles</a>
</div>