@model IEnumerable<CertificatesByCourseServiceModel>
@{
    ViewData["Title"] = "Certificates";
    var averageGrade = Model.Any()
        ? Model.Select(c => c.Certificates.First()).Average(c => c.GradeBg)
        : 0;
}

<h1 class="d-flex justify-content-between flex-wrap">
    My certificates
    @if (averageGrade > 0)
    {
        <span>Average grade: @averageGrade.ToNumberDecimal()</span>
    }
</h1>

@if (Model.Any())
{
    <section class="card-columns">

        @foreach (var group in Model)
        {
            var courseInfoModel = new CourseBasicViewModel { Id = group.CourseId, Name = group.CourseName };
            <article class="card-group">
                <div class="card course-card border-info">
                    <div class="card-header bg-info">
                        <h5 class="card-title">@group.CourseName</h5>
                    </div>
                    @foreach (var certificate in group.Certificates)
                    {
                        <div class="card-body">
                            <partial name="_CertificateDownloadFormPartial" model="@certificate.Id" />
                            <h5 class="card-text font-weight-bold">
                                <a asp-controller="@WebConstants.CertificatesController"
                                   asp-action="@nameof(CertificatesController.Details)"
                                   asp-route-id="@certificate.Id" class="text-info">
                                    Grade @certificate.GradeBg
                                </a>
                            </h5>
                            <p class="card-text text-muted">@certificate.IssueDate.ToDate()</p>
                        </div>
                    }
                    <div class="card-footer">
                        <partial name="_CourseInfoButtonPartial" model="@courseInfoModel" />
                    </div>
                </div>
            </article>
        }
    </section>
    <p class="small text-justify">The average grade is calculated on the basis of the certificates awarded taking into account the best certificate grade per course.</p>
}
else
{
    <h5>No certificates</h5>
}